<!DOCTYPE html>
<html>
<head>
  <title>Habit Tracker</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <nav>
    <a href="/">Dashboard</a>
    <a href="/add">Add Entry</a>
    <a href="/insights">Insights</a>
  </nav>

  <main>
    {{{body}}}
  </main>
</body>
</html>