body {
  font-family: Arial;
  margin: 0;
  background: #111;
  color: white;
}

nav {
  background: #222;
  padding: 10px;
}

nav a {
  color: white;
  margin-right: 10px;
}

.grid {
  display: flex;
  gap: 20px;
}

.card {
  background: #333;
  padding: 20px;
  border-radius: 10px;
}