body {
  font-family: Arial;
  margin: 0;
  background: #111;
  color: white;
}

nav {
  background: #222;
  padding: 10px;
}

nav a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
}

.card {
  background: #333;
  padding: 15px;
  border-radius: 10px;
}